body {
	font-family: sans-serif;
}

#container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;

	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

header img {
	width: 256px;
	height: 64px;
}

#mainPanel, footer {
	padding: 30px;
}

#dropZone {
	width: 300px;
	height: 150px;

	margin-left: auto;
	margin-right: auto;

	border: 5px dashed #888;
	border-radius: 40px;
}

#dropZone.draggingFile {
	background-color: #ff9;
}

#lyrics textarea {
	width: 880px;
	height: 500px;
	padding: 10px;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

#lyrics button {
	float: right;
}

.tab {
	display: inline-block;
	padding: 10px;
	cursor: pointer;
}

.tab.highlight {
	background-color: #ff9;
}

.tab:hover, .tab.highlight:hover {
	background-color: #ddd;
}

.tabScreen {
	margin-top: 20px;
}

.lineLabel {
	font-size: 10pt;
	color: #777;
}

#lines div, #lines input {
	font-size: 18pt;
}

#lines #previousLine, #lines #nextLine {
	font-size: 12pt;
	color: #555;
}

.holdingShift .individualLineWord:hover {
	background-color: #ff9;
	cursor: pointer;
}

#lineTimingInstructions dfn {
	border-bottom: 1px dashed black;
	cursor: help;
}

#wordTimingInstructions {
	margin-bottom: 20px;
}

.wordTimingLine {
	padding: 10px;
	cursor: pointer;
}

.wordTimingLine:hover {
	background-color: #eee;
}

footer {
	font-size: 10pt;
}

footer .small-mark {
	width: 16px;
	height: 16px;
}