body {
	background-color: #456;
	font-family: sans-serif;
}

a, a:link, a:visited, a:active {
	color: #456;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

#container {
	position: absolute;
	width: 100%;
	top: 100px;
	left: 0;
}

.narrow {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;

	background-color: #eee;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 99px;
	background-color: white;
	border-bottom: 1px solid gray;
}

.header-inner {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

header img {
	height: 60px;
	margin: 20px;
}

#mainPanel .stageContainer, footer {
	padding: 30px;
}

#mainPanel .stageContainer#welcome {
	padding: 0;
}

#welcome .intro {
	margin: 0;
	padding: 30px;
	font-size: 18pt;
	text-align: center;
}

#landingBackground {
	background-image: url(assets/landing-page.png);
	width: 960px;
	height: 500px;
	position: relative;
}

#landingBackground div {
	width: 360px;
	height: 250px;

	position: absolute;

	font-size: 16pt;
	padding-left: 30px;
	padding-right: 30px;

	margin: 0;
	line-height: 1.5em;
}

#landingBackground .firstText {
	text-align: right;

	top: 0;
	right: 0;
}

#landingBackground .secondText {
	text-align: left;

	bottom: 0;
	left: 0;
}

#dropOverlay {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;

	background-color: rgba(30, 30, 30, .7);
}

#dropOverlayInner {
	border: 20px dashed rgba(30, 30, 30, .9);
	
	width: calc(100% - 20px - 20px);
	height: calc(100% - 20px - 20px);
}

#dropOverlayText {
	width: calc(100% - 20px - 20px);

	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	text-align: center;

	font-size: 72pt;
	font-weight: bold;
	color: rgba(30, 30, 30, .9);
	text-shadow: 0px 0px 7px rgba(255, 255, 255, .4)
}

#dropZone.draggingFile {
	background-color: #ff9;
}

#newOrImport {
	margin-bottom: 200px;
}

#newSong, #importSong {
	width: 250px;
    height: 150px;
    font-size: 14pt;
    padding: 10px;
    border: 1px dashed black;
}

#newSong {
	text-align: right;
    float: left;
    margin-left: 150px;
}

#importSong {
	text-align: left;
    float: right;
    margin-right: 150px;
}

#newSong:hover, #importSong:hover {
	background-color: #eee;
	border: 1px solid black;
	cursor: pointer;
}

.bigWords {
	font-size: 28pt;
}

#metadataTable {
	border-spacing: 8px;
	font-size: 14pt;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

#metadataTable input, #metadataTable select {
	font-size: 12pt;
	padding: 2px;
}

#lyrics textarea, #import textarea {
	width: 880px;
	height: 500px;
	padding: 10px;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

#lyrics button, #import button {
	float: right;
}

.tab {
	display: inline-block;
	padding: 10px;
	cursor: pointer;
}

.tab.highlight {
	background-color: #ff9;
}

.tab:hover, .tab.highlight:hover {
	background-color: #ddd;
}

.tabScreen {
	margin-top: 20px;
}

.lineLabel {
	font-size: 10pt;
	color: #777;
}

#lines div, #lines input {
	font-size: 18pt;
}

#lines #previousLine, #lines #nextLine {
	font-size: 12pt;
	color: #555;
}

.holdingShift .individualLineWord:hover {
	background-color: #ff9;
	cursor: pointer;
}

#lineTimingInstructions dfn {
	border-bottom: 1px dashed black;
	cursor: help;
}

#wordTimingInstructions {
	margin-bottom: 20px;
}

.wordTimingLine {
	padding: 10px;
	cursor: pointer;
}

.wordTimingLine:hover {
	background-color: #eee;
}

.exportSection {
	margin-bottom: 20px;
}

.exportSection button {
	display: block;
}

#exportArea {
	width: 880px;
	height: 300px;
	padding: 10px;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

footer {
	font-size: 16px;
}

footer .small-mark {
	width: 16px;
	height: 16px;
	margin-left: 16px;
	position: relative;
	top: 2px;
}